.DS_Store
public
resources
.idea
content/.obsidian
# content/*
# !content/_index.md
assets/indices/linkIndex.json
assets/indices/contentIndex.json
assets/indices/searchIndex-v2.json
linkmap
node_modules
.quartz-cache
.last_purge_time
data/recent_updates.json
utils/hugo-obsidian/hugo-obsidian
utils/hugo-obsidian/hugo-obsidian-dev

.superpowers
