.DS_Store
public
resources
.idea
content/.obsidian
# content/*
# !content/_index.md
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap

#new quartz v4
.gitignore
node_modules
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
