<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    <article>
    {{partial "header.html" .}}
      {{if .Title}}<h1>{{ .Title }}</h1>{{end}}
      <p class="meta">
          Last updated {{ partial "date-fmt.html" .}} 
          <!-- {{ partial "github.html" . }} -->
      </p>
      <ul class="tags">
          {{ range (.GetTerms "tags") }}
          <li><a href="{{ .Permalink }}">{{ .LinkTitle | humanize }}</a></li>
          {{ end }}
      </ul>
      {{partial "toc.html" .}}
      {{partial "textprocessing.html" . }}
      <!--  Mermaid: Note: below .Content as the render hook is not processed until .Content (in textprocessing.hmtl) is executed  -->
      {{ if .Page.Store.Get "hasMermaid" }}
        <script type="module">
          import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
          mermaid.initialize({ startOnLoad: true });
        </script>
      {{ end }}
      {{partial "footer.html" .}}
    </article>
    <div class="backlinks-container">
        {{partial "backlinks.html" .}}
    </div>   
</div>
</body>

</html>
