<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="header-fullwidth">
{{partial "header.html" .}}
</div>
<div class="singlePage">
    <!-- Begin actual content -->
    <article>
        <h1>{{ i18n "tag" }}: {{ .Title }}</h1>
        {{with .Params.description}}
            <p>{{.}}</p>
        {{end}}
        {{partial "page-list.html" .Paginator.Pages}}
        {{ template "_internal/pagination.html" . }}
    </article>
</div>
{{partial "contact.html" .}}
</body>
</html>
