.darkmode {
  float: right;
  padding: 1em;
  min-width: 15px;
  position: relative;

  @media all and (max-width: 450px) {
    padding: 1em;
  }

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & svg {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    margin: 0 7px;
    fill: var(--gray);
    transition: opacity 0.1s ease;
    //scale the SVG
    // transform: scale(0.7); /* Adjust as needed */
    // transform-origin: center;
  }
}

.newsletter {
  float: right;
  min-width: 30px;
  position: relative;

  @media all and (max-width: 450px) {
    padding: 1em;
  }

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & svg {
    opacity: 1;
    position: absolute;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    margin: 0 7px;
    transition: opacity 0.1s ease;
  }
  
}

.toggle:checked ~ label {
  & > #dayIcon {
    opacity: 0;
  }
  & > #nightIcon {
    opacity: 1;
  }
}

.toggle:not(:checked) ~ label {
  & > #dayIcon {
    opacity: 1;
  }
  & > #nightIcon {
    opacity: 0;
  }
}

// for navigation: blog and vault
.icon-links {
    display: flex;
    align-items: center;
}

.blog-link,
.vault-link {
    margin-right: 10px;
}

.icon-links a {
    padding: 0 3px 10px 3px;
    color: inherit;
    text-decoration: none;
    min-height: 32px;
    margin-top: 2px;
    display: flex;
    align-items: flex-end;
}

.icon-emoji {
    font-size: 21px;
    line-height: 1;
}
