{{ $linkIndex := resources.Get "indices/linkIndex.json" | transform.Unmarshal }}
{{ $contentTable := resources.Get "indices/contentIndex.json" | transform.Unmarshal }}

<h3>{{ i18n "backlinks" }}</h3>
<ul class="backlinks">
    {{$url := urls.Parse .Site.BaseURL }}
    {{$host := strings.TrimRight "/" $url.Path }}
    {{$curPage := strings.TrimPrefix $host (strings.TrimRight "/" .Page.RelPermalink)}}
    {{$inbound := index $linkIndex.index.backlinks $curPage}}
    {{if $inbound}}
    {{$brainLinks := dict "SENTINEL" "SENTINEL"}}
    {{$blogLinks := dict "SENTINEL" "SENTINEL"}}
    {{$bookLinks := dict "SENTINEL" "SENTINEL"}}
    {{range $k, $v := $inbound}}
      {{$cleanedInbound := replace $v.source " " "-"}}
      {{$ctx := $v.text}}
      {{if hasPrefix $cleanedInbound "/blog/"}}
        {{$blogLinks = merge $blogLinks (dict $cleanedInbound $ctx)}}
      {{else if hasPrefix $cleanedInbound "/book/"}}
        {{$bookLinks = merge $bookLinks (dict $cleanedInbound $ctx)}}
      {{else}}
        {{$brainLinks = merge $brainLinks (dict $cleanedInbound $ctx)}}
      {{end}}
    {{end}}
    {{- range $lnk, $ctx := $brainLinks -}}
      {{with (index $contentTable $lnk)}}
      {{$title := index (index . "title")}}
      {{$l := printf "%s%s/" $host $lnk}}
      {{$l = cond (eq $l "//") "/" $l}}
      <li>
        <a href="{{$l}}" data-ctx="{{$ctx}}" data-src="{{$lnk}}" class="internal-link">{{$title}}</a>
      </li>
      {{end}}
    {{- end -}}
    {{- range $lnk, $ctx := $blogLinks -}}
      {{with (index $contentTable $lnk)}}
      {{$title := index (index . "title")}}
      {{$l := printf "https://www.ssp.sh%s/" $lnk}}
      <li>
        <a href="{{$l}}" data-ctx="{{$ctx}}" data-src="{{$lnk}}" target="_blank" rel="noopener">Blog: {{$title}}</a>
      </li>
      {{end}}
    {{- end -}}
    {{- range $lnk, $ctx := $bookLinks -}}
      {{with (index $contentTable $lnk)}}
      {{$title := index (index . "title")}}
      {{$l := printf "https://www.dedp.online%s.html" (strings.TrimPrefix "/book" $lnk)}}
      <li>
        <a href="{{$l}}" data-ctx="{{$ctx}}" data-src="{{$lnk}}" target="_blank" rel="noopener">Book: {{$title}}</a>
      </li>
      {{end}}
    {{- end -}}
    {{else}}
    <li>
      {{ i18n "no_backlinks" }}
    </li>
    {{end}}
</ul>
