<div class='icon-links'>
    <div class='vault-link'>
        <a href="{{ .Site.BaseURL }}data-engineering/" title="DE Vault">
            <span class="icon-emoji">💎</span>
        </a>
    </div>
    <div class='newsletter-link'>
        <a href="{{ $.Site.Data.config.newsletter_link }}" title="Subscribe to Newsletter">
            <span class="icon-emoji">📨</span>
            <!-- <span class="icon-emoji">📰📬📨</span> -->
        </a>
    </div>
    <div class='blog-link'>
        <a href="https://ssp.sh" title="Back to Blog">
            <span class="icon-emoji">📃</span>
        </a>
    </div>
    <!-- {{partial "newsletter.html" .}} -->
</div>
