<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="header-fullwidth">
{{partial "header.html" .}}
</div>
<div class="singlePage">
    <!-- Begin actual content -->
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
    {{partial "footerIndex.html" .}}
    </article>
</div>
{{partial "contact.html" .}}
</body>
</html>
